<%- include("partials/top") %>


<header>
    <h2>Profile</h2>
</header>
<main>
    <h1><span>
            <img src="<%= user.thumbnail %> " alt="<%= user.username %>" height="60" width="60">
        </span>
        <%= user.username %>
    </h1>

</main>

</body>

</html>